:root {
  --bulma-size-1: 5rem;
  --bulma-size-2: 2.5rem;
  --bulma-size-3: 2rem;
  --bulma-size-4: 1.5rem;
  --bulma-size-5: 1.25rem;
  --bulma-size-6: 1rem;
  --bulma-size-7: 0.75rem;
}

.title,
.subtitle {
  --bulma-title-family: false;
  --bulma-title-size: var(--bulma-size-1);
  --bulma-title-weight: var(--bulma-weight-extrabold);
  --bulma-title-line-height: 1.125;
  --bulma-title-strong-color: inherit;
  --bulma-title-strong-weight: inherit;
  --bulma-title-sub-size: 0.75em;
  --bulma-title-sup-size: 0.75em;
  --bulma-subtitle-color: var(--bulma-text);
  --bulma-subtitle-family: false;
  --bulma-subtitle-size: var(--bulma-size-5);
  --bulma-subtitle-weight: var(--bulma-weight-normal);
  --bulma-subtitle-line-height: 1.25;
  --bulma-subtitle-strong-color: var(--bulma-text-strong);
  --bulma-subtitle-strong-weight: var(--bulma-weight-semibold);
}

.section {
  --bulma-section-padding: 4rem 1.5rem;
  --bulma-section-padding-desktop: 3rem 3rem;
  --bulma-section-padding-medium: 9rem 4.5rem;
  --bulma-section-padding-large: 18rem 6rem;
  padding: var(--bulma-section-padding);
}

#skill_item {
  padding: 30px;
  margin: 10px 10px;
  background-color: #00C2F3;
  color: black;
  border-radius: 10px;
  text-align: center;
}

#submit {
  padding: 10px 15px;

  /* font-family: 'Raleway', sans-serif; */
  letter-spacing: 1.5px;
  font-size: 1em;
  color: white;
  background-color: #00C2F3;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

#social_item a {
  padding: 20px;
  text-align: justify;
}


i {
  font-size: 40px; /* Adjust this value to your preference */
}


@media screen and (max-width: 768px) {

  .title,
  .subtitle {
    --bulma-title-family: false;
    --bulma-title-size: var(--bulma-size-3);
  }
}

@media screen and (min-width: 1024px) {

  .title,
  .subtitle {
    --bulma-title-family: false;
    --bulma-title-size: var(--bulma-size-1);
  }

  #full-name, 
  #email-address,
  #message {
    width: 75%;
  }
}